@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn {
  min-width: 174px;
  height: 60px;
  padding: 1rem;
}

.btn-sm {
  min-width: 156px;
  max-height: 40px;
  padding: 0.9rem;
}

.btn,
.btn-sm {
  text-decoration: none;
  color: variables.$color-button-text;
  // display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  // flex-wrap: nowrap;
  @include mixins.transition;
  @include mixins.to-flex-and-center;

  background-color: variables.$color-primary;

  &:hover {
    background-color: variables.$color-dark;

    @include mixins.transform;

    cursor: pointer;
  }
}
