@use "../abstracts/mixins";
@use "../abstracts/variables";
.btn,
.btn-sm {
  min-width: 174px;
  height: 60px;
  padding: 1rem;
  text-decoration: none;
  color: variables.$color-button-text;
  // display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  // flex-wrap: nowrap;
  @include mixins.transition;
  @include mixins.to-flex-and-center;
  background-color: variables.$color-primary;
  &:hover {
    background-color: variables.$color-dark;
    @include mixins.transform;
  }
}
.btn-sm {
  min-width: 156px;
  max-height: 40px;
  padding: 0.9rem;
}
