@use "../abstracts/mixins";
@use "../abstracts/variables";

.btn {
  width: 174px;
  height: 60px;
  text-decoration: none;
  color: variables.$color-button-text;
  display: inline-block;

  @include mixins.transition;
  @include mixins.to-flex-and-center;
  padding: variables.$spacing-l;
  background-color: variables.$color-primary;

  &:hover {
    background-color: variables.$color-dark;
    @include mixins.transform;
  }
}
