@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
main {
  .carousel {
    max-width: 80%;
    margin: 0 auto;
    .carousel-header {
      @include section-header;
    }
    .products-carousel {
      position: relative;
      overflow: hidden;
      .carousel-track {
        @include transition;
        // @include generate-bg-images($images-quantity);
        display: flex;
        gap: 1rem;
        .product-card {
          @include transition;
          @include to-flex-and-center;
          flex-direction: column;
          justify-content: flex-end;
          flex-shrink: 0;
          flex-basis: calc((100% - 3rem) / 4);
          padding: 2rem;
          min-height: 32.5rem;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @include tablet {
            flex-basis: calc((100% - 1rem) / 2);
          }
          @include mobile {
            flex-basis: 100%;
          }
          h4,
          p {
            color: $color-light;
            font-size: 1rem;
            margin: 0.5rem;
          }
          p {
            font-weight: 200;
          }
        }
      }
      .carousel-btn {
        position: absolute;
        top: 50%;
        background-color: rgba(0, 0, 0, 0);
        color: $color-light;
        width: 3rem;
        height: 3rem;
        border: none;
        font-size: 3rem;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .prev {
        left: 1rem;
        z-index: 1;
      }
      .next {
        right: 1rem;
        z-index: 1;
      }
    }
  }
}
