@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.search-wrapper {
  position: relative;
  background: $color-light;
  border: 1px solid $color-devider;
  border-radius: $border-radius-sm;
  overflow: hidden;
  height: $input-height;
  @include mobile {
    width: 100%;
  }
  .search-input {
    background: transparent;
    border: none;
    padding: 0 3rem 0 1rem;
    font-size: 0.95rem;
    font-weight: 500;
    color: $color-text-secondary;
    width: 100%;
    height: 100%;
    &::placeholder {
      color: $color-devider;
    }
    &:focus {
      outline: none;
    }
    @include mobile {
      width: 100%;
    }
  }
  .search-icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-30%);
    color: $color-devider;
    pointer-events: none;
    transition: color 0.3s ease;
  }
  .search-input:focus + .search-icon {
    color: $color-primary;
  }
}
.sort-dropdown-container {
  height: $input-height;
  position: relative;
  .sort-title {
    @include to-flex-and-center;
    background: $color-light;
    border: 1px solid $color-devider;
    border-radius: $border-radius-sm;
    padding: $spacing-s $spacing-sm;
    cursor: pointer;
    font-weight: bold;
    color: $color-text;
    gap: $spacing-s;
    &:hover {
      border-color: $color-primary;
    }
    img {
      @include icon-size(0.75rem);
      @include transition;
    }
  }
  .sort-list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 50;
    background-color: $color-light;
    border: 1px solid $color-devider;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    overflow: hidden;
    .sort-list-item {
      padding: $spacing-s $spacing-sm;
      cursor: pointer;
      font-size: $font-size-sm;
      &:hover {
        background-color: $color-devider;
        color: $color-primary;
      }
      &.active {
        background-color: $color-primary;
        color: $color-light;
        font-weight: bold;
      }
    }
  }
  &:hover .sort-list {
    display: block;
  }
  &:hover .sort-title img {
    transform: rotate(180deg);
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  label {
    display: block;
    margin-bottom: 0.25px;
    font-weight: 600;
    color: $color-dark;
    font-size: 0.95rem;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid $color-devider;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }
  textarea {
    resize: vertical;
  }
}
