@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;

  label {
    display: block;
    margin-bottom: 0.25px;
    font-weight: 600;
    color: $color-dark;
    font-size: 0.95rem;
  }

  textarea {
    resize: vertical;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid $color-devider;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;

    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }
}
