@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

main {
  .hero {
    background-color: $color-hero-section;
    padding-bottom: 12rem;

    .hero-upper_container {
      margin: 0 auto;
      max-width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include tablet {
        grid-template-columns: 1fr;
      }

      @include mobile {
        grid-template-columns: 1fr;
      }

      .hero-upper-left_container,
      .hero-upper-right_container {
        h2 {
          font-size: 3rem;

          @include mobile {
            font-size: 2.5rem;
          }
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        color: $color-text-content;

        .btn {
          align-self: start;
          margin-top: $spacing-l;
        }
      }
    }
  }

  .hero-lower-wrapper {
    background-color: $color-light;
    position: relative;
    z-index: 1;
    padding-top: 3.5rem;

    .hero-lower_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      z-index: 5;
      max-width: 80%;
      margin: 0 auto;
      transform: translateY(-12rem);
      box-shadow: 0 1.25rem 2rem rgb(0 0 0 / 8%);
      background-color: $color-light;

      @include tablet {
        grid-template-columns: 1fr;
      }

      @include mobile {
        grid-template-columns: 1fr;
        max-width: 95%;
      }

      .hero-lower-left_container {
        padding: 2rem;
        justify-content: center;
        max-width: 100%;

        @include mobile {
          padding: 0.5rem;
        }

        .person {
          display: flex;
          align-self: self-start;
          flex-direction: row;

          .person-img {
            max-width: 5.82rem;
          }

          h6 {
            margin: 0.75rem;
          }

          p {
            margin: 0 1rem;
          }
        }

        .person-text {
          p {
            color: $color-text-content;
          }
        }
      }

      .hero-lower-right_container {
        background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
          url("../../src/assets/icons/photo.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        max-width: 100%;

        h4,
        p {
          color: $color-light;
        }

        p {
          font-weight: 200;
        }

        a {
          width: 174px;
        }
      }
    }
  }
}
