@use "../abstracts/mixins";
@use "../abstracts/variables";

.icon {
  color: variables.$color-primary;

  @include mixins.to-flex-and-center;

  svg {
    @include mixins.icon-size(20px);
    @include mixins.transition;
  }
}

.socials {
  @include mixins.to-flex-and-center;

  gap: 1.25rem;

  a {
    @include mixins.icon-size(20px);
    @include mixins.to-flex-and-center;
    @include mixins.transition;

    &:hover {
      @include mixins.transform;
    }
  }
}

.suitcase {
  @include mixins.icon-size(32px);
  @include mixins.to-flex-and-center;

  justify-content: center;
  background-color: variables.$color-primary;
  border-radius: variables.$spacing-s;

  a {
  }
}
