@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.search-panel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: $spacing-sm;
  max-width: 80%;
  margin: 0 auto $spacing-sm;
  align-items: center;
  @include mobile {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .search-panel-left {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: $spacing-md;
    // max-width: 100%;
    min-width: 0;
    // flex-direction: row;
  }
}
.main_container {
  max-width: 80%;
}
.sort-dropdown-container {
  position: relative;
  // max-width: 100%;
  .sort-title {
    @include to-flex-and-center;
    background: $color-light;
    border: 1px solid $color-devider;
    border-radius: $border-radius-sm;
    padding: $spacing-s $spacing-sm;
    cursor: pointer;
    font-weight: bold;
    color: $color-text;
    gap: $spacing-s;
    &:hover {
      border-color: $color-primary;
    }
    img {
      @include icon-size(0.75rem);
      @include transition;
    }
    @include mobile {
      max-width: 100%;
    }
  }
  .sort-list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 50;
    background-color: $color-light;
    border: 1px solid $color-devider;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    overflow: hidden;
    .sort-list-item {
      padding: $spacing-s $spacing-sm;
      cursor: pointer;
      font-size: $font-size-sm;
      &:hover {
        background-color: $color-devider;
        color: $color-primary;
      }
      &.active {
        background-color: $color-primary;
        color: $color-light;
        font-weight: bold;
      }
    }
    @include mobile {
      max-width: 100%;
    }
  }
  &:hover .sort-list {
    display: block;
  }
  &:hover .sort-title img {
    transform: rotate(180deg);
  }
}
.search-wrapper {
  position: relative;
  background: $color-light;
  border: 1px solid $color-border;
  border-radius: $border-radius-sm;
  overflow: hidden;
  cursor: pointer;
  height: 33px;
  @include mobile {
    width: 100%;
    margin: 0.5rem auto;
  }
  .search-input {
    background: transparent;
    border: none;
    padding: 0 3rem 0 1rem;
    font-size: 0.95rem;
    font-weight: 500;
    color: $color-text-secondary;
    cursor: pointer;
    // max-width: 100%;
    height: 100%;
    &::placeholder {
      color: $color-devider;
    }
    &:focus {
      outline: none;
    }
    @include mobile {
      max-width: 100%;
    }
  }
  .search-icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-30%);
    color: $color-devider;
    pointer-events: auto;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: $color-primary;
    }
  }
  .search-input:focus + .search-icon {
    color: $color-primary;
  }
}
// filters
.filters-panel {
  padding: 0 0 $spacing-md 0;
  position: relative;
  max-width: 100%;
}
.filters-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: flex-start;
  gap: $spacing-sm;
  align-items: center;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  padding: 0.5rem;
  @include mobile {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
.filter-dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  h6 {
    margin: 0.25rem;
    font-size: 0.95rem;
    font-weight: 600;
  }
  position: relative;
  .filter-title {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background: $color-light;
    border: 1px solid $color-devider;
    padding: $spacing-s $spacing-sm;
    cursor: pointer;
    font-size: 0.75rem;
    color: rgba(114, 113, 116, 0.3);
    gap: $spacing-s;
    height: 33px;
    &:hover {
      border-color: $color-primary;
    }
    img {
      @include icon-size(0.75rem);
      @include transition;
    }
  }
  .filter-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    background-color: $color-light;
    border: 1px solid $color-devider;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    // overflow: hidden;
    .filter-list-item {
      padding: $spacing-s $spacing-sm;
      cursor: pointer;
      font-size: $font-size-sm;
      &:hover {
        background-color: $color-devider;
        color: $color-primary;
      }
      &.active {
        background-color: $color-primary;
        color: $color-light;
        font-weight: bold;
      }
    }
  }
  &:hover .filter-list {
    display: block;
  }
  &:hover .filter-title img {
    transform: rotate(180deg);
  }
}
.filters-actions {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  font-size: 0.95rem;
  flex-wrap: wrap;
  @include mobile {
    flex-direction: column;
    align-content: flex-end;
    margin-top: 3.5rem;
  }
}
.toggle-filters-btn,
.reset-filters-btn {
  cursor: pointer;
  font-size: 0.95rem;
  max-height: 33px;
  margin-top: 0;
}
.toggle-filters-btn {
  @include mobile {
    margin-top: 0;
  }
}
.active-filters {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  gap: $spacing-s;
  margin-top: $spacing-xs;
  flex-wrap: wrap;
  min-height: 30px;
}
.active-filter-chip {
  display: flex;
  align-items: center;
  gap: $spacing-s;
  padding: $spacing-xs $spacing-sm;
  background: $color-devider;
  border-radius: $border-radius-sm;
  font-size: $font-size-sm;
  color: $color-text;
}
.remove-filter {
  background: none;
  border: none;
  font-size: $font-size-sm;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    background: $color-primary;
    color: $color-light;
  }
}
.sales-checkbox-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 100%;
}
.sales-checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  font-size: 0.95rem;
  text-align: center;
  width: 100%;
  height: 100%;
}
.sales-checkbox {
  display: none;
}
.checkbox-custom {
  width: 1rem;
  height: 1rem;
  border: 1px solid rgba(114, 113, 116, 0.3);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}
.checkbox-custom::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background: $color-primary;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
}
.sales-checkbox:checked + .checkbox-custom {
  border-color: $color-primary;
}
.sales-checkbox:checked + .checkbox-custom::after {
  opacity: 1;
  transform: scale(1);
}
.checkbox-text {
  order: 1;
  font-weight: 600;
}
.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  .popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .popup-content {
    position: relative;
    background: $color-light;
    padding: $spacing-lg;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
    h3 {
      color: $color-text;
      margin-bottom: $spacing-sm;
      font-size: $font-size-sm;
    }
    p {
      color: $color-text-secondary;
      margin-bottom: $spacing-md;
    }
    .popup-close-btn {
      cursor: pointer;
      margin: 0 auto;
    }
  }
}
