@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $color-light;
  z-index: 100;
  justify-content: center;

  .heading {
    position: relative;
    width: 80%;
    margin: 0 auto;

    @include to-flex-and-center;

    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.25rem;

    @include tablet {
      width: 100%;
      padding: 0.25rem;
      justify-content: space-around;
    }

    @include mobile {
      margin: 0 auto;
      width: 95%;
      justify-content: space-between;
    }

    .burger {
      display: none;
      width: auto;
      height: auto;
      font-size: 1.5rem;
      border: 2px solid black;
      border-radius: 0.25rem;
      padding: 0 0.5rem 0.2rem;

      @media (width <= 768px) {
        @include to-flex-and-center;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .socials {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }

    .logo {
      a {
        // Более специфичный a
        @include link-inline-block;
        @include to-flex-and-center;

        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        gap: 1rem;
        color: $color-primary;
        padding-left: 0.5rem;
        margin: 0 auto;

        &:hover {
          @include transform;
        }

        @include mobile {
          justify-items: center;
        }
      }
    }

    .user-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-right: 0.5rem;

      @include mobile {
        display: flex;
        flex-direction: column;
      }

      gap: 0.5rem;

      .user-icon,
      .cart-icon {
        @include transition;

        &:hover {
          @include transform;
        }
      }

      .user-icon {
        @include mobile {
          order: 2;
        }
      }

      .cart-icon {
        position: relative;
        cursor: pointer;

        .cart-count {
          position: absolute;
          top: -8px;
          right: -8px;
          color: $color-primary;
          font-size: 0.75rem;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid $color-primary;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }

        @include mobile {
          order: 1;
        }
      }
    }
  }

  .devider {
    border-bottom: 0.1px solid $color-devider;
    width: 78%;
    justify-self: center;
    height: 0.05px;
  }

  .nav-container {
    position: relative;

    nav {
      @include to-flex-and-center;

      @include mobile {
        display: none;
      }

      ul {
        @include to-flex-and-center;

        flex-direction: row;
        list-style: none;
        gap: 2rem;

        li a {
          // Менее специфичный li a
          text-decoration: none;
          color: $color-text;
          font-size: 1.1rem;
          font-weight: bold;

          @include link-inline-block;
          @include transition;

          &.active {
            color: $color-primary;
          }

          &:hover {
            @include transform;

            color: $color-primary;
          }
        }
      }
    }

    nav.mobile {
      position: absolute;
      display: flex;
      width: 80%;
      background-color: $color-light;

      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
  }

  .login-modal.active {
    display: flex;
  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
  }

  .modal-content {
    position: relative;
    background: #fff;
    padding: 2rem;
    max-width: 400px;
    width: 90%;
    z-index: 1001;
  }

  .password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .password-input::-ms-reveal,
  .password-input::-ms-clear {
    display: none;
  }

  .password-input::-webkit-credentials-auto-fill-button {
    display: none !important;
  }

  .password-input {
    width: 100%;
    padding-right: 3rem;
  }

  .toggle-password {
    position: absolute;
    right: 0.75rem;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
  }

  .toggle-password:hover {
    background: rgb(114 113 116 / 10%);
  }

  .eye-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .form-group {
    width: 100%;
  }

  .login-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .remember {
    label {
      display: flex;
      align-items: center;
      font-size: 0.6rem;
      font-weight: 200;
      width: 100%;
      white-space: nowrap;
      gap: 0.3rem;
    }

    input {
      display: flex;
      align-items: center;
      margin: auto 0;
      font-weight: 600;
    }
  }

  .forgot {
    p {
      font-size: 0.75rem;
      color: $color-primary;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .login-btn {
    width: 100%;
  }
}
