@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

main {
  .products-selected.container-wrapper {
    max-width: 80%;
    margin: $spacing-l auto 0;

    .section-header {
      @include section-header;

      margin-bottom: 2.5rem;
    }

    .selected-products-wrapper {
      @include selected-products-grid;
    }

    .new-products-wrapper {
      @include selected-products-grid;
    }
  }

  .grateful-customers {
    max-width: 80%;
    margin: 0 auto 3rem;

    .grateful-header {
      @include section-header;

      margin-top: 3rem;
    }

    .grateful-customers_container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);

      @include mobile {
        grid-template-columns: 1fr;
      }

      .grateful-customers-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        box-shadow: 0 1.25rem 2rem rgb(193 199 212 / 72%);
      }
    }
  }
}
