@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

aside.top-sets {
  @include mobile {
    display: none;
  }

  h6 {
    margin: $spacing-s;
  }

  .top-best-sets {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  .top-card_container {
    @include to-flex-and-center;

    justify-content: center;
    gap: $spacing-xs;
    padding: $spacing-xs;

    .top-card-img_container {
      width: 4rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .top-card_description {
      p {
        margin: $spacing-xs;
        margin-top: 0;
        font-size: 0.75rem;
      }

      .top-card_price {
        color: $color-primary;
        font-weight: 600;
      }
    }
  }
}
