@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
footer {
  .footer-upper_container {
    background: rgb(80, 78, 74);
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='30'><path d='M0 15 Q30 0 60 15 T120 15' stroke='white' stroke-width='2' fill='none' opacity='0.08'/></svg>");
      background-size: 240px 16px;
      z-index: 0;
    }
  }
  .footer-upper {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    @include to-flex-and-center;
    align-items: flex-start;
    flex-direction: column;
    h4,
    p {
      color: $color-light;
    }
    h4 {
      font-size: 1.25rem;
    }
    .footer-upper-elements_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include tablet {
        grid-template-columns: 1fr 1fr;
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
      p {
        font-size: 0.75rem;
        font-weight: 200;
      }
      .footer-upper-content-element {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 0.5rem;
        @include mobile {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  .footer-lower_container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    @include mobile {
      grid-template-columns: 1fr;
    }
    h6,
    p {
      font-size: 0.75rem;
    }
    .footer-lower-left_container {
      .footer-lower-left-upper_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include mobile {
          grid-template-columns: 1fr;
        }
        .footer-lower-left-upper_element {
          a {
            text-decoration: none;
            color: $color-text;
          }
        }
      }
    }
    .footer-lower-right_container {
      .footer-lower-right-lower {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.25rem;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
        }
        @include tablet {
        }
        .footer-contact-element {
          display: grid;
          grid-template-columns: 1fr 3fr;
          @include tablet {
            grid-template-columns: 1fr;
          }
          @include mobile {
            grid-template-columns: 1fr 3fr;
          }
          p {
            margin-top: 0;
          }
        }
      }
    }
  }
  .copyright {
    @include to-flex-and-center;
    p {
      font-size: 0.75rem;
      padding: 1rem;
    }
  }
}
