@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $color-light;
  z-index: 100;
  .heading {
    position: relative;
    width: 80%;
    margin: 0 auto;
    @include to-flex-and-center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    @include tablet {
      width: 100%;
      padding: 0.25rem;
      justify-content: space-around;
    }
    .burger {
      display: none;
      width: auto;
      height: auto;
      font-size: 1.5rem;
      border: 2px solid black;
      border-radius: 0.25rem;
      padding: 0 0.5rem 0.2rem 0.5rem;
      @media (max-width: 768px) {
        @include to-flex-and-center;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .socials {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include tablet {
        display: none;
      }
    }
    .logo {
      a {
        @include link-inline-block;
        @include to-flex-and-center;
        flex-direction: row;
        gap: 1rem;
        color: $color-primary;
        &:hover {
          @include transform;
        }
      }
    }
    .user-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include mobile {
        grid-template-columns: 1fr;
      }
      gap: 0.5rem;
      .user-icon,
      .cart-icon {
        @include transition;
        &:hover {
          @include transform;
        }
      }
      .cart-icon {
        position: relative;
        cursor: pointer;
        .cart-count {
          position: absolute;
          top: -8px;
          right: -8px;
          color: $color-primary;
          font-size: 0.75rem;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid $color-primary;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }
    }
  }
  .devider {
    border-bottom: 0.1px solid $color-devider;
    width: 78%;
    justify-self: center;
    height: 0.05px;
  }
  .nav-container {
    position: relative;
    nav {
      @include to-flex-and-center;
      @include tablet {
        display: none;
      }
      ul {
        @include to-flex-and-center;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        li a {
          text-decoration: none;
          color: $color-text;
          font-size: 1.1rem;
          font-weight: bold;
          @include link-inline-block;
          @include transition;
          &.active {
            color: $color-primary;
          }
          &:hover {
            @include transform;
            color: $color-primary;
          }
        }
      }
    }
    nav.mobile {
      position: absolute;
      display: flex;
      width: 80%;
      background-color: $color-light;
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
