@use "../abstracts/mixins";
@use "../abstracts/variables";
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: variables.$color-light;
  z-index: 100;
  .burger {
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    @media (min-width: 769px) {
      display: none;
    }
  }
  .socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include mixins.tablet {
      display: none;
    }
  }
  .heading {
    width: 80%;
    margin: 0 auto;
    @include mixins.to-flex-and-center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    @include mixins.tablet {
      width: 100%;
      padding: 0.25rem;
      justify-content: space-around;
    }
  }
  .logo {
    a {
      @include mixins.link-inline-block;
      @include mixins.to-flex-and-center;
      flex-direction: row;
      gap: 1rem;
      color: variables.$color-primary;
      &:hover {
        @include mixins.transform;
      }
    }
  }
  .user-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mixins.mobile {
      grid-template-columns: 1fr;
    }
    gap: 0.5rem;
    .user-icon,
    .cart-icon {
      @include mixins.transition;
      &:hover {
        @include mixins.transform;
      }
    }
  }
  .devider {
    border-bottom: 0.1px solid variables.$color-devider;
    width: 78%;
    justify-self: center;
    height: 0.05px;
  }
  nav {
    @include mixins.to-flex-and-center;
    @include mixins.tablet {
      display: none;
    }
    ul {
      @include mixins.to-flex-and-center;
      flex-direction: row;
      list-style: none;
      gap: 2rem;
      li a {
        text-decoration: none;
        color: variables.$color-text;
        font-size: 1.1rem;
        font-weight: bold;
        @include mixins.link-inline-block;
        @include mixins.transition;
        &.active {
          color: variables.$color-primary;
        }
        &:hover {
          @include mixins.transform;
          color: variables.$color-primary;
        }
      }
    }
  }
}
