@use "../abstracts/mixins";
@use "../abstracts/variables";
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: variables.$color-light;
  z-index: 100;
  .heading {
    width: 80%;
    margin: 0 auto;
    @include mixins.to-flex-and-center;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    a {
      @include mixins.link-inline-block;
      @include mixins.to-flex-and-center;
      flex-direction: row;
      gap: 1rem;
      color: variables.$color-primary;
      &:hover {
        @include mixins.transform;
      }
    }
  }
  .user-section {
    @include mixins.to-flex-and-center;
    gap: 0.5rem;
    .user-icon,
    .cart-icon {
      @include mixins.transition;
      &:hover {
        @include mixins.transform;
      }
    }
  }
  .devider {
    border-bottom: 0.1px solid variables.$color-devider;
    width: 78%;
    justify-self: center;
    height: 0.05px;
  }
  nav {
    @include mixins.to-flex-and-center;
    ul {
      @include mixins.to-flex-and-center;
      flex-direction: row;
      list-style: none;
      gap: 2rem;
      li a {
        text-decoration: none;
        color: variables.$color-text;
        font-size: 1.1rem;
        font-weight: bold;
        @include mixins.link-inline-block;
        @include mixins.transition;
        &.active {
          color: variables.$color-primary;
        }
        &:hover {
          @include mixins.transform;
          color: variables.$color-primary;
        }
      }
    }
  }
}
