main .products-selected.container-wrapper {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
main .products-selected.container-wrapper .section-header {
  text-align: center;
  margin-bottom: 1rem;
  margin-bottom: 2.5rem;
}
main .products-selected.container-wrapper .section-header h4 {
  margin: 0;
}
main .products-selected.container-wrapper .selected-products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 768px) {
  main .products-selected.container-wrapper .selected-products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  main .products-selected.container-wrapper .selected-products-wrapper {
    grid-template-columns: 1fr;
  }
}
main .products-selected.container-wrapper .section-header {
  text-align: center;
  margin-bottom: 1rem;
  margin-bottom: 2.5rem;
}
main .products-selected.container-wrapper .section-header h4 {
  margin: 0;
}
main .products-selected.container-wrapper .new-products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 768px) {
  main .products-selected.container-wrapper .new-products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  main .products-selected.container-wrapper .new-products-wrapper {
    grid-template-columns: 1fr;
  }
}
main .offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  min-height: 18.75rem;
  margin: 3rem auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/icons/offer_of_the_month.png");
  background-position: center;
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  main .offer {
    grid-template-columns: 1fr;
  }
}
main .offer .offer-left,
main .offer .offer-right {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .offer .offer-left h2,
main .offer .offer-left h4,
main .offer .offer-left p,
main .offer .offer-right h2,
main .offer .offer-right h4,
main .offer .offer-right p {
  color: #fff;
  font-size: 6.5rem;
}
main .offer .offer-left h2,
main .offer .offer-right h2 {
  margin: 0;
}
main .offer .offer-left h4,
main .offer .offer-right h4 {
  font-size: 2.25rem;
  margin: 0;
}
main .offer .offer-left p,
main .offer .offer-right p {
  font-size: 1rem;
  font-weight: 200;
}
main .grateful-customers {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
main .grateful-customers .grateful-header {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
main .grateful-customers .grateful-header h4 {
  margin: 0;
}
main .grateful-customers .grateful-customers_container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 480px) {
  main .grateful-customers .grateful-customers_container {
    grid-template-columns: 1fr;
  }
}
main .grateful-customers .grateful-customers_container .grateful-customers-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 1.25rem 2rem rgba(193, 199, 212, 0.72);
}/*# sourceMappingURL=home.css.map */