@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
main {
  .hero {
    background-color: $color-hero-section;
    padding-bottom: 12rem;
    .hero-upper_container {
      margin: 0 auto;
      max-width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include tablet {
        grid-template-columns: 1fr;
      }
      .hero-upper-left_container,
      .hero-upper-right_container {
        @include to-flex-and-center;
        flex-direction: column;
        flex: 1;
        color: $color-text-content;
        .btn {
          align-self: start;
          margin-top: $spacing-l;
        }
      }
    }
  }
  .hero-lower-wrapper {
    background-color: $color-light;
    position: relative;
    z-index: 1;
    padding-top: 3.5rem;
    .hero-lower_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      z-index: 5;
      max-width: 80%;
      & {
        margin: 0 auto;
        transform: translateY(-12rem);
        box-shadow: 0 1.25rem 2rem rgba(0, 0, 0, 0.08);
        background-color: $color-light;
      }
      @include tablet {
        grid-template-columns: 1fr;
      }
      .hero-lower-left_container {
        padding: 2rem;
        justify-content: center;
        width: 100%;
        .person {
          display: flex;
          align-self: self-start;
          flex-direction: row;
          h6 {
            margin: 0.75rem;
          }
          p {
            margin: 0 1rem;
          }
          .person-img {
            max-width: 5.82rem;
          }
        }
        .person-text {
          p {
            color: $color-text-content;
          }
        }
      }
      .hero-lower-right_container {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../../src/assets/icons/photo.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        width: 100%;
        h4,
        p {
          color: $color-light;
        }
        p {
          font-weight: 200;
        }
      }
    }
  }
  .carousel {
    max-width: 80%;
    margin: 0 auto;
    .carousel-header {
      @include section-header;
    }
    .products-carousel {
      position: relative;
      overflow: hidden;
      .carousel-track {
        @include transition;
        // @include generate-bg-images($images-quantity);
        display: flex;
        gap: 1rem;
        .product-card {
          @include transition;
          @include to-flex-and-center;
          flex-direction: column;
          justify-content: flex-end;
          flex-shrink: 0;
          flex-basis: calc((100% - 3rem) / 4);
          padding: 2rem;
          min-height: 32.5rem;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @include tablet {
            flex-basis: calc((100% - 1rem) / 2);
          }
          @include mobile {
            flex-basis: 100%;
          }
          h4,
          p {
            color: $color-light;
            font-size: 1rem;
            margin: 0.5rem;
          }
          p {
            font-weight: 200;
          }
        }
      }
      .carousel-btn {
        position: absolute;
        top: 50%;
        background-color: rgba(0, 0, 0, 0);
        color: $color-light;
        width: 3rem;
        height: 3rem;
        border: none;
        font-size: 3rem;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .prev {
        left: 1rem;
        z-index: 1;
      }
      .next {
        right: 1rem;
        z-index: 1;
      }
    }
  }
  .products-selected.container-wrapper {
    @include product-section-layout(section-header, selected-products-wrapper);
    @include product-section-layout(section-header, new-products-wrapper);
  }
  .offer {
    @include offer-section;
  }
  .grateful-customers {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
    .grateful-header {
      @include section-header;
      margin-top: 3rem;
    }
    .grateful-customers_container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      @include mobile {
        grid-template-columns: 1fr;
      }
      .grateful-customers-card {
        @include to-flex-and-center;
        flex-direction: column;
        padding: 2rem;
        box-shadow: 0 1.25rem 2rem rgba(193, 199, 212, 0.72);
      }
    }
  }
}
