@use "../abstracts/mixins";
@use "../abstracts/variables";
main {
  .hero {
    background-color: variables.$color-hero-section;
    padding-bottom: 12rem;
    .hero-upper_container {
      margin: 0 auto;
      max-width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include mixins.tablet {
        grid-template-columns: 1fr;
      }
      .hero-upper-left_container,
      .hero-upper-right_container {
        @include mixins.to-flex-and-center;
        flex-direction: column;
        flex: 1;
        color: variables.$color-text-content;
        .btn {
          align-self: start;
          margin-top: variables.$spacing-l;
        }
      }
    }
  }
  .hero-lower-wrapper {
    background-color: variables.$color-light;
    position: relative;
    z-index: 1;
    padding-top: 3.5rem;
    .hero-lower_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      z-index: 5;
      max-width: 80%;
      & {
        margin: 0 auto;
        transform: translateY(-12rem);
        box-shadow: 0 1.25rem 2rem rgba(0, 0, 0, 0.08);
        background-color: variables.$color-light;
      }
      @include mixins.tablet {
        grid-template-columns: 1fr;
      }
      .hero-lower-left_container {
        padding: 3rem;
        width: 100%;
        .person {
          display: flex;
          align-self: self-start;
          flex-direction: row;
          h6 {
            margin: 0.75rem;
          }
          p {
            margin: 0 1rem;
          }
          .person-img {
            max-width: 5.82rem;
          }
        }
        .person-text {
          p {
            color: variables.$color-text-content;
          }
        }
      }
      .hero-lower-right_container {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../../src/assets/icons/photo.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        width: 100%;
        h4,
        p {
          color: variables.$color-light;
        }
        p {
          font-weight: 200;
        }
      }
    }
  }
  .carousel {
    max-width: 80%;
    margin: 0 auto;
    .carousel-header {
      @include mixins.section-header;
    }
    .products-carousel {
      .carousel-track {
        @include mixins.generate-bg-images(variables.$images-quantity);
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        @include mixins.tablet {
          grid-template-columns: 1fr 1fr;
        }
        @include mixins.mobile {
          grid-template-columns: 1fr;
        }
        .product-card {
          @include mixins.to-flex-and-center;
          flex-direction: column;
          justify-content: flex-end;
          padding: 2rem;
          min-height: 37.5rem;
          h4,
          p {
            color: variables.$color-light;
            font-size: 1rem;
            margin: 0.5rem;
          }
          p {
            font-weight: 200;
          }
        }
      }
    }
  }
  .selected-products {
    max-width: 80%;
    margin: 0 auto;
    .selected-header {
      @include mixins.section-header;
      margin-top: 3rem;
    }
    .selected-products_container {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      @include mixins.tablet {
        grid-template-columns: 1fr 1fr;
      }
      @include mixins.mobile {
        grid-template-columns: 1fr;
      }
      .selected-product-card {
        @include mixins.to-flex-and-center;
        flex-direction: column;
        justify-content: space-between;
        .selected-product-card_info__container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 70%;
          p {
            font-weight: bold;
            margin-bottom: 0;
          }
        }
        .btn-sm {
          margin-top: 1rem;
        }
      }
    }
  }
  .offer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mixins.mobile {
      grid-template-columns: 1fr;
    }
    max-width: 80%;
    min-height: 18.75rem;
    margin: 3rem auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../src/assets/icons/offer_of_the_month.png");
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    .offer-left,
    .offer-right {
      padding: 2rem;
      @include mixins.to-flex-and-center;
      flex-direction: column;
      h2,
      h4,
      p {
        color: variables.$color-light;
        font-size: 6.5rem;
      }
      h2 {
        margin: 0;
      }
      h4 {
        font-size: 2.25rem;
        margin: 0;
      }
      p {
        font-size: 1rem;
        font-weight: 200;
      }
    }
  }
}
