@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.search-panel {
  display: grid;
  grid-template-columns: 2fr 1fr;

  .search-panel-left {
    align-items: center;
    max-width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    gap: $spacing-md;
  }
}

.sort-dropdown-container {
  position: relative;
  display: inline-block;

  .sort-title {
    @include to-flex-and-center;
    background: $color-light;
    border: 1px solid $color-devider;
    border-radius: $border-radius-sm;
    padding: $spacing-s $spacing-sm;
    cursor: pointer;
    font-weight: bold;
    color: $color-text;
    gap: $spacing-s;

    &:hover {
      border-color: $color-primary;
    }

    img {
      @include icon-size(0.75rem);
      @include transition;
    }
  }

  .sort-list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 50;
    background-color: $color-light;
    border: 1px solid $color-devider;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    overflow: hidden;

    .sort-list-item {
      padding: $spacing-s $spacing-sm;
      cursor: pointer;
      font-size: $font-size-sm;

      &:hover {
        background-color: $color-devider;
        color: $color-primary;
      }
      &.active {
        background-color: $color-primary;
        color: $color-light;
        font-weight: bold;
      }
    }
  }

  &:hover .sort-list {
    display: block;
  }

  &:hover .sort-title img {
    transform: rotate(180deg);
  }
}
