// src/scss/layouts/_top-sets.scss

@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

aside.top-sets {
  padding-top: $spacing-lg;

  @include tablet {
    padding-top: $spacing-md;
    border-top: 1px solid $color-devider;
  }

  h6 {
    margin-bottom: $spacing-sm;
  }

  .top-best-sets {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
  }

  .top-card_container {
    @include to-flex-and-center;
    justify-content: flex-start;
    gap: $spacing-sm;
    padding: $spacing-s;
    background-color: $color-light-gray;
    border-radius: $border-radius-sm;

    .top-card-img_container {
      width: 4rem;
      height: 4rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radius-sm;
      }
    }

    // .top-card_description {
    //   // styles for text content
    // }
  }
}
