@use "../abstracts/mixins";
@use "../abstracts/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: variables.$color-text;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 3.5rem;
}
h4 {
  font-size: 2.5rem;
}
h6 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}
