@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

main.about {
  @include page-hero("../../src/assets/icons/about-us-bg.png");
  @include advantages-section;

  .hero-advantages-lower-wrapper {
    background-color: $color-light;
    padding-top: 3.5rem;

    @include mobile {
      width: 100%;
    }

    .hero-lower_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 80%;
      margin: 0 auto;
      box-shadow: 0 1.25rem 2rem rgb(0 0 0 / 8%);
      background-color: $color-light;

      @include tablet {
        grid-template-columns: 1fr;
      }

      @include mobile {
        grid-template-columns: 1fr;
        max-width: 100%;
      }

      .hero-lower-left_container {
        padding: 2rem;
        justify-content: center;
        max-width: 100%;

        .person {
          display: flex;
          align-self: flex-start;
          flex-direction: row;

          h6 {
            margin: 0.75rem;
          }

          .person-img {
            max-width: 5.82rem;
          }

          p {
            margin: 0 1rem;
          }
        }

        .person-text {
          p {
            color: $color-text-content;
          }
        }
      }

      .hero-lower-right_container {
        background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
          url("/src/assets/icons/road-suitcase.png") no-repeat center / cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        max-width: 100%;

        h4,
        p,
        a {
          color: $color-light;
          visibility: hidden;
        }

        p {
          font-weight: 200;
        }
      }
    }
  }

  .incredible_wrapper {
    width: 80%;
    margin: 3rem auto 0;
    text-align: center;

    .bottom-border {
      border-bottom: 1px solid $color-dark;
      display: inline-block;
      margin: 3rem auto;

      h4 {
        display: block;
        margin: 0;
      }
    }

    .incredibles_container {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $spacing-md;

      @include mobile {
        grid-template-columns: 1fr;
      }

      .incredible-card {
        img {
          display: flex;
          flex-direction: column;
          place-content: center center;
          margin: 1.5rem auto;
        }
      }
    }
  }

  .see-all-models {
    display: inline-block;
  }
}
