@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
main.about {
  .hero-about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../src/assets/icons/about-us-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem auto;
    @include to-flex-and-center;
    .hero-upper_container {
      margin: 3.5rem auto;
      max-width: 80%;
      text-align: center;
      h2,
      p {
        color: $color-light;
      }
      h2 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-weight: 200;
        margin: 0 auto;
      }
      @include to-flex-and-center;
      flex-direction: column;
    }
  }
  .advantages {
    max-width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
    .advatage {
      height: 100%;
      @include to-flex-and-center;
      height: 100%;
      justify-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: $spacing-sm;
      .advatage-description_container {
        justify-content: center;
        align-items: center;
        h4 {
          text-align: center;
          font-size: 1.25rem;
          margin: $spacing-sm;
        }
        p {
          font-size: 0.95rem;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
  .hero-advantages-lower-wrapper {
    background-color: $color-light;
    padding-top: 3.5rem;
    @include mobile {
      width: 100%;
    }
    .hero-lower_container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 80%;
      & {
        margin: 0 auto;
        box-shadow: 0 1.25rem 2rem rgba(0, 0, 0, 0.08);
        background-color: $color-light;
      }
      @include tablet {
        grid-template-columns: 1fr;
      }
      @include mobile {
        grid-template-columns: 1fr;
        max-width: 100%;
      }
      .hero-lower-left_container {
        padding: 2rem;
        justify-content: center;
        max-width: 100%;
        .person {
          display: flex;
          align-self: self-start;
          flex-direction: row;
          h6 {
            margin: 0.75rem;
          }
          p {
            margin: 0 1rem;
          }
          .person-img {
            max-width: 5.82rem;
          }
        }
        .person-text {
          p {
            color: $color-text-content;
          }
        }
      }
      .hero-lower-right_container {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../../src/assets/icons/road-suitcase.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        max-width: 100%;
        h4,
        p,
        a {
          color: $color-light;
          visibility: hidden;
        }
        p {
          font-weight: 200;
        }
      }
    }
  }
  .offer {
    @include offer-section;
  }
  .incredible_wrapper {
    margin-top: 3rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .bottom-border {
      border-bottom: 1px solid $color-dark;
      display: inline-block;
      margin: 3rem auto;
      h4 {
        display: block;
        margin: 0;
      }
    }
    .incredibles_container {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $spacing-md;
      @include mobile {
        grid-template-columns: 1fr;
      }
      .incredible-card {
        img {
          display: flex;
          flex-direction: column;
          align-content: center;
          margin: 1.5rem auto;
          justify-content: center;
        }
      }
    }
  }
  .see-all-models {
    display: inline-block;
  }
}
