@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

main.cart {
  .hero-about {
    background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
      url("../../src/assets/icons/cart-hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;

    .hero-upper_container {
      h2 {
        color: $color-light;
      }
    }
  }
}

.cart-outer {
  max-width: 80%;
  margin: 3rem auto;

  @include mobile {
    max-width: 100%;
  }
}

.cart-container {
  width: 100%;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 2fr 1fr 1fr;
  background: $color-text-secondary;
  color: $color-light;
  padding: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  justify-items: center;

  @include mobile {
    gap: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.cart-item {
  // max-height: 4rem;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 2fr 1fr 1fr;
  padding: 1rem auto;
  border-bottom: 1px solid #ddd;
  place-items: center center;
}

.cart-item-img_container {
  width: auto;
  height: 80px;

  img {
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.cart-product-name {
  font-weight: 500;
}

.cart-price,
.cart-total {
  font-weight: 600;
}

.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.cart-deduct,
.cart-add {
  &:hover {
    cursor: pointer;
  }
}

.cart-delete {
  height: 1.25rem;
  width: 1.25rem;
  margin: auto;
  justify-self: center;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.cart-lower_container {
  max-width: 80%;
  display: grid;
  margin: auto;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.cart-actions {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  .btn-continue,
  .btn-clear {
    margin: 0;
    // flex: 1;
    font-size: 0.9rem;
  }
}

.summary {
  background: $color-text-secondary;
  color: $color-light;
  padding: 1rem;
  width: 100%;

  .btn-checkout {
    font-size: 0.9rem;
  }
}

.summary-line {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid $color-devider;
}

.summary-line.total {
  font-weight: 600;
  font-size: 1.1em;
  border-bottom: none;
  padding-top: 12px;
}

.empty-cart-message {
  @include to-flex-and-center;
  justify-content: center;

  font-size: 1.1rem;
  font-weight: bold;
}
