@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.main-contact-us {
  .hero-about {
    background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
      url("../../src/assets/icons/contact-hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem auto;

    @include to-flex-and-center;

    .hero-upper_container {
      margin: 3.5rem auto;
      max-width: 80%;
      text-align: center;

      h2,
      p {
        color: $color-light;
      }

      h2 {
        font-size: 3.5rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-weight: 200;
        margin: 0 auto;
      }

      @include to-flex-and-center;

      flex-direction: column;
    }
  }

  .advantages {
    max-width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }

    .advatage {
      @include to-flex-and-center;

      height: 100%;
      justify-content: flex-start;
      flex-direction: column;
      padding: $spacing-sm;

      .advatage-description_container {
        justify-content: center;
        align-items: center;

        h4 {
          text-align: center;
          font-size: 1.25rem;
          margin: $spacing-sm;
        }

        p {
          font-size: 0.95rem;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}

.contact-form_container {
  max-width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-light;
  // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  @include mobile {
    grid-template-columns: 1fr;
    box-shadow: none;
    max-width: 100%;
  }

  .contact-form-img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 600px;

    img {
      display: block;
      width: 100%;
      // height: 100%;
      object-fit: fill;
    }
  }

  .contact-form-feedback_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 2rem;

    @include tablet {
      padding: 1.5rem;
    }

    .contact-form-feedback_header {
      margin-bottom: 3.5rem;

      h6 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
      }
    }
  }
}
