@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.main-contact-us {
  .hero-about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../src/assets/icons/contact-hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.contact-form_container {
  max-width: 80%;

  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-light;
  // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  @include mobile {
    grid-template-columns: 1fr;
    box-shadow: none;
  }
  .contact-form-img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 600px;
    img {
      display: block;
      width: 100%;
      // height: 100%;
      object-fit: fill;
    }
  }
  .contact-form-feedback_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 2rem;
    @include tablet {
      padding: 1.5rem;
    }
    .contact-form-feedback_header {
      margin-bottom: 3.5rem;
      h6 {
        margin-top: 0;
        // margin-bottom: 1.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
