@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.main-contact-us {
  @include page-hero("../../src/assets/icons/contact-hero-bg.png");
  @include advantages-section;
}

.contact-form_container {
  max-width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-light;

  @include mobile {
    grid-template-columns: 1fr;
    box-shadow: none;
    max-width: 100%;
  }

  .contact-form-img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 600px;

    img {
      display: block;
      width: 100%;
      object-fit: fill;
    }
  }

  .contact-form-feedback_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 2rem;

    @include tablet {
      padding: 1.5rem;
    }

    .contact-form-feedback_header {
      margin-bottom: 3.5rem;

      h6 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
      }
    }
  }
}
