@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.main-product {
  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    @include mobile {
      grid-template-columns: 1fr;
    }
    .product-description_container {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      .product-description-header {
        h6 {
          margin-bottom: 0.5rem;
        }
        margin-bottom: 0.5rem;
      }
    }
    .product-images_container {
      .product-img_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        img.product-img-lg {
          height: 100%;
          object-fit: contain;
          display: block;
        }
      }
      .product-img-sm_container {
        display: flex;
        max-height: 3.5rem;
      }
    }
    .product-bottom {
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 5fr;
      gap: 0.5rem;
      .add-deduct-group {
        max-height: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        justify-content: center;
        border: 2px solid $color-primary;
        .deduct,
        .quantity,
        .add {
          text-align: center;
          font-weight: bold;
          color: rgba($color: $color-text, $alpha: 0.5);
        }
        .deduct,
        .add {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .btn-sm {
        margin: 0;
        width: 100%;
      }
    }
  }
}
