@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
.main-product {
  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    @include mobile {
      grid-template-columns: 1fr;
    }
    .product-images_container {
      .product-img_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        img.product-img-lg {
          height: 100%;
          object-fit: contain;
          display: block;
        }
      }
      .product-img-sm_container {
        display: flex;
        max-height: 3.5rem;
      }
    }
    .product-bottom {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
      .add-deduct-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .btn-sm {
        margin: 0;
        width: 100%;
      }
    }
  }
}
