$spacing-l: 2rem;
$spacing-s: 0.5rem;
$color-primary: #b92770;
$color-dark: #000;
$color-button-text: #fff;
$color-text: #000;
$color-hero-section: #e7e8e9;
$color-text-content: #504e4a;
$color-light: #fff;
$color-devider: rgba(114, 113, 116, 0.2);
$images-quantity: 4;
