* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
header .heading {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header .logo a {
  display: inline-block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: #b92770;
}
header .logo a:hover {
  transform: scale(1.015);
}
header .user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
header .user-section .user-icon,
header .user-section .cart-icon {
  transition: all 0.3s ease;
}
header .user-section .user-icon:hover,
header .user-section .cart-icon:hover {
  transform: scale(1.015);
}
header .devider {
  border-bottom: 0.1px solid rgba(114, 113, 116, 0.2);
  width: 78%;
  justify-self: center;
  height: 0.05px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
}
header nav ul li a.active {
  color: #b92770;
}
header nav ul li a:hover {
  transform: scale(1.015);
  color: #b92770;
}

main .hero {
  background-color: #e7e8e9;
  padding-bottom: 12rem;
}
main .hero .hero-upper_container {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  main .hero .hero-upper_container {
    grid-template-columns: 1fr;
  }
}
main .hero .hero-upper_container .hero-upper-left_container,
main .hero .hero-upper_container .hero-upper-right_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: #504e4a;
}
main .hero .hero-upper_container .hero-upper-left_container .btn,
main .hero .hero-upper_container .hero-upper-right_container .btn {
  align-self: start;
  margin-top: 2rem;
}
main .hero-lower-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding-top: 3.5rem;
}
main .hero-lower-wrapper .hero-lower_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 5;
  max-width: 80%;
}
main .hero-lower-wrapper .hero-lower_container {
  margin: 0 auto;
  transform: translateY(-12rem);
  box-shadow: 0 1.25rem 2rem rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
@media (max-width: 768px) {
  main .hero-lower-wrapper .hero-lower_container {
    grid-template-columns: 1fr;
  }
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-left_container {
  padding: 3rem;
  width: 100%;
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-left_container .person {
  display: flex;
  align-self: self-start;
  flex-direction: row;
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-left_container .person h6 {
  margin: 0.75rem;
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-left_container .person p {
  margin: 0 1rem;
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-left_container .person .person-img {
  max-width: 5.82rem;
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-left_container .person-text p {
  color: #504e4a;
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-right_container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/icons/photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}
main .hero-lower-wrapper .hero-lower_container .hero-lower-right_container h4,
main .hero-lower-wrapper .hero-lower_container .hero-lower-right_container p {
  color: #fff;
}
main .carousel {
  max-width: 80%;
  margin: 0 auto;
}
main .carousel .carousel-header {
  text-align: center;
  margin-bottom: 1.5rem;
}
main .carousel .carousel-header h4 {
  margin: 0;
}
main .carousel .products-carousel .carousel-track {
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
main .carousel .products-carousel .carousel-track .image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-7.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-8 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-9 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-9.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-10.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-11 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-11.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .carousel .products-carousel .carousel-track .image-12 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/assets/products/image-12.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  main .carousel .products-carousel .carousel-track {
    grid-template-columns: 1 fr 1 fr;
  }
}
main .carousel .products-carousel .carousel-track .product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  height: 600px;
  width: 296px;
}
main .carousel .products-carousel .carousel-track .product-card h4,
main .carousel .products-carousel .carousel-track .product-card p {
  color: #fff;
  font-size: 1rem;
  margin: 0.5rem;
}
main .selected-products {
  max-width: 80%;
  margin: 0 auto;
}
main .selected-products .selected-header {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
main .selected-products .selected-header h4 {
  margin: 0;
}
main .selected-products .selected-products_container {
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 768px) {
  main .selected-products .selected-products_container {
    grid-template-columns: 1 fr 1 fr;
  }
}
main .selected-products .selected-products_container .selected-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .selected-products .selected-products_container .selected-product-card .btn {
  margin-top: 0;
}

.btn,
.btn-sm {
  width: 174px;
  height: 60px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b92770;
}
.btn:hover,
.btn-sm:hover {
  background-color: #000;
  transform: scale(1.015);
}

.btn-sm {
  width: 156px;
  height: 40px;
}

.icon {
  color: #b92770;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.socials a {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.socials a:hover {
  transform: scale(1.015);
}

.suitcase {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b92770;
  border-radius: 0.5rem;
}
.suitcase a {
  width: 32px;
  height: 32px;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
@media (max-width: 768px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=main.css.map */